
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container-header{
    box-shadow: 5px 5px 5px gray;
    height: 70px;
}
.nav{
    width: 80%;
    margin: auto;
}
.container-header-line{
    padding-top: 10px;
    display: flex;
}
.container-header-line p{
    padding-top: 15px;
    text-decoration: none;
    color: #cfc9ec;
    font-size: 25px; 
}
.logoApp{
    width: 90px;
    height: auto;
}
.container-connection{
    float: right;
    margin-top: -60px;
    border: 2px solid ;
    border-radius: 5px;
    margin-left: 30px;
}
.container-connection p a{
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.container-connection p{
    font-size: 1rem;
    padding: 5px 10px ;
    font-weight: 300px;
}
.container-connection:hover{
    background-color: #cfc9ec;
    color: white;
}

/*menu*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.wrapper{
    display: flex;
    position: relative;
  }
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: absolute;
  }
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }   
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }

/*formulaire*/

.formulaire{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.container-form {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container-form header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container-form .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input) {
  position: relative;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form button {
  height: auto;
  width: 30%;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #4b4276;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form button:hover {
  background: #cfc9ec;
}

/*footer*/
footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4b4276;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color:whitesmoke;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.reseaux-sociaux{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.reseaux-sociaux li{
  margin: 0 10px;
}
.reseaux-sociaux a{
  text-decoration: none;
  color: black;
}
.reseaux-sociaux a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.reseaux-sociaux a:hover i{
  color: rgb(88, 56, 250);
}

.footer-bottom{
  background: #cfc9ec;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
}